<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Admin detail</title>
      
  
      <th:block th:include="/_header"></th:block>
  
   </head>
   <body style="height:1500px">
   
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
   
      <div class="container" style="margin-top:50px">
      
      <th:block th:include="/admin/_adminmenu"></th:block>
      
	      <h1>Detail</h1>
	      <th:block th:include="/_successmessage"></th:block>
	      <br/><br/>
	      <div class="row">
	         <table border="1" class="table">
	            <tr >
	              <td> ID </td>
	               <td th:utext="${user.getId()}">...</td>
	            </tr>
	            
	            <tr >
	               <td> Admin's name </td>
	               <td th:utext="${user.getUsername()}">...</td>
	            </tr>
	             <tr >
	               <td> Admin's password </td>
	               <td th:utext="${user.getPassword()}">...</td>
	            </tr>
	              
	              <tr >
	              <td> Status </td>
	               <td th:utext="${user.getStatus()}">...</td>
	            </tr>
	              
	              <tr >
	              <td> Permission </td>
	               <td th:utext="${user.getPermission()}">...</td>
	            </tr>
	              
	            
	         </table>
	      </div>
      
      </div>
      
      <th:block th:include="/_footer"></th:block>
   </body>
</html>