<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title>Edit admin</title>
<th:block th:include="/_header"></th:block>
</head>
<body style="height: 1500px">

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<div class="container" style="margin-top: 50px">
		<th:block th:include="/admin/_adminmenu"></th:block>

		<h1>Edit Form</h1>
		<th:block th:include="/_errormessage"></th:block>

		<form th:action="@{/admin/edit/{id}(id=${adminid})}"
			class="form-horizontal" th:object="${adminEditForm}" method="POST">

			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Admin's name:</label>
				<div class="col-sm-10">

					<span th:utext="${adminEditForm.getUsername()}"></span>
				</div>
			</div>

			
			<div class="form-group">
				<label class="control-label col-sm-2" for="order">Admin's password:</label>
				<div class="col-sm-10">

					<span th:utext="${adminEditForm.getPassword()}"></span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-2" for="permission">Permission:</label>
				<div class="col-sm-10">
					<select id="type" th:field="*{permission}">
						<option value="1"
							th:selected="${adminEditForm.getPermission() == 1} ? 'selected' : ''">Admin</option>
						<option value="2"
							th:selected="${adminEditForm.getPermission() == 2} ? 'selected' : ''">Sub-admin</option>
						<option value="3"
							th:selected="${adminEditForm.getPermission() == 3} ? 'selected' : ''">Math-editor</option>
						<option value="4"
							th:selected="${adminEditForm.getPermission() == 4} ? 'selected' : ''">Flashcard-editor</option>
						<option value="5"
							th:selected="${adminEditForm.getPermission() == 5} ? 'selected' : ''">Story-editor</option>
						<option value="6"
							th:selected="${adminEditForm.getPermission() == 6} ? 'selected' : ''">Ela-editor</option>
						<option value="7"
							th:selected="${adminEditForm.getPermission() == 7} ? 'selected' : ''">Translator</option>

					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-danger">Save</button>
				</div>
			</div>

		</form>


	</div>
</body>
</html>