
 <div  xmlns:th="http://www.thymeleaf.org">
  
    <ul class="nav nav-tabs">
    <li th:class="${actioncode == 'prek'} ? 'active' : ''"><a th:href="@{/store/index/2/}">Pre-K</a></li>
    <li th:class="${actioncode == 'k'} ? 'active' : ''"><a th:href="@{/store/index/2/}">Kindergarten</a></li>
    <li th:class="${actioncode == '1'} ? 'active' : ''"><a th:href="@{/store/index/2/134}">1</a></li>
    <li th:class="${actioncode == '2'} ? 'active' : ''"><a th:href="@{/store/index/2/135}">2</a></li>
  <li th:class="${actioncode == '3'} ? 'active' : ''"><a th:href="@{/store/index/2/136}">3</a></li>
  <li th:class="${actioncode == '4'} ? 'active' : ''"><a th:href="@{/store/index/2/137}">4</a></li>
  <li th:class="${actioncode == '5'} ? 'active' : ''"><a th:href="@{/store/index/2/138}">5</a></li>
  <li th:class="${actioncode == '6'} ? 'active' : ''"><a th:href="@{/store/index/2/139}">6</a></li>
  <li th:class="${actioncode == '7'} ? 'active' : ''"><a th:href="@{/store/index/2/140}">7</a></li>
  <li th:class="${actioncode == '8'} ? 'active' : ''"><a th:href="@{/store/index/2/141}">8</a></li>
  <li th:class="${actioncode == '9'} ? 'active' : ''"><a th:href="@{/store/index/2/142}">9</a></li>
  <li th:class="${actioncode == '10'} ? 'active' : ''"><a th:href="@{/store/index/2/143}">10</a></li>
  <li th:class="${actioncode == '11'} ? 'active' : ''"><a th:href="@{/store/index/2/144}">11</a></li>
  <li th:class="${actioncode == '12'} ? 'active' : ''"><a th:href="@{/store/index/2/145}">12</a></li>
  
  
	</ul>
     
 </div>