<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Person List</title>
      <th:block th:include="/_header"></th:block>
   </head>
   <body style="height:1500px">
   
      <!-- Include _menu.html -->
       <th:block th:include="/_menu"></th:block>
   
   <div class ="container" style="margin-top:50px">
	       <th:block th:include="/util/_uploadmenu"></th:block>
	   
	      <h1>Image List</h1>
	      <a href="imageupload">Upload image</a>
	      <br/><br/>
	      <div>
	         <table border="1">
	            <tr>
	               <th>Name</th>
	               <th>Uri</th>
	               <th>Description</th>
	               <th>Date</th>
	            </tr>
	             <tr th:each ="image : ${images}">
	               <td th:utext="${image.name}">...</td>
	               <td th:utext="${image.uri}">...</td>
	               <td th:utext="${image.description}">...</td>
	               <td th:utext="${image.createDate}">...</td>
	            </tr> 
	         </table>
	      </div>
      </div>
   </body>
</html>